header {background-color:  rgb(208, 232, 240);
padding: 10px;}
#icons{margin-left: 1160px;}
li{display: inline-block; padding: 40px;}
nav{background-color: rgb(214, 226, 232);
text-align: center;}
#cover{text-align: center;}
body{background-color: aliceblue;}

#pro{background-color: rgb(221, 227, 238);
    font-family: 'Young Serif', serif;
width: 250px;
text-align: center;
}
h3{padding: 5px;
    font-family: 'Young Serif', serif;
}
p{
    padding: 8px;
    font-family: 'Young Serif', serif;
}
#s3{margin:5px; padding-top: 20px;
text-align: center;
background-color: rgb(10, 29, 60); color: white;}
footer{background-color: rgb(10, 29, 60); color: aliceblue;
border: 10px solid rgb(10, 29, 60); background-color: rgb(10, 29, 60);
text-align: center; }
